/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.contentContainer {
  width: 100vw;
  height: calc(100vh - 140px);
  background-color: #73ae52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  background-color: #73ae52;
  color: white;
  font-size: 7rem;
}

.desc {
  font-size: 2rem;
}
